{
  "presets": [
      [
        "env",
        {
          "modules": false,
          "targets": {
            "node": "8"
          }
        }
      ],
      "stage-2",
//      "babili"
  ],
  "plugins": ["external-helpers", "transform-flow-strip-types"]
}